<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionString>Data Source = (LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\GitHub\SWE_TourPlanner\SWE_TourPlanner_WPF\SWE_TourPlanner_WPF\DataBase\TourPlannerDB.mdf;Integrated Security = True</connectionString>
	<openRouteKey>5b3ce3597851110001cf62483a397f95f86441adb7cbf0789ae0d615</openRouteKey>
</configuration>